
@model N01533897_Assignment4_W2022.Models.Student
@{
    ViewBag.Title = "ShowStudent";
}

<a href="/Student/StudentList">Back to Students</a>
<h1>Student Information</h1>
<p>Below you can see some details about this Student</p>
<div>
    <h3>@Model.StudentFname @Model.StudentLname</h3>
    <h4>Student Number: @Model.StudentNumber</h4>
    <h4>Enrollment Date: @Model.EnrolDate</h4>
</div>