
@model IEnumerable<N01533897_Assignment4_W2022.Models.Teacher>
@{
    ViewBag.Title = "List";
}


<nav class="spacing">
    <a href="/Teacher/Add">New Teacher</a>
</nav>
<h2>List</h2>
<p>This list shows information about all teachers!</p>
<div>
    <h3>List of Teachers</h3>
    <form action="/Teacher/List" method="GET">
        <input type="text" name="SearchKey" autocomplete="off" />
        <input type="submit" value="Search" />
        <br /><br />
    </form>

    @foreach (N01533897_Assignment4_W2022.Models.Teacher teacher in Model)
    {

        <div class="list_teachers">
            <a href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a>
        </div>
    }
</div>